DPP_VAULT_MASTER_KEY=
DPP_OAUTH_CLIENT_ID=
DPP_MCP_AGENT_SUB=did:key:z6MkhaXgBZDvotDkL5257faiztiGiC2QtKLGJpnn5uSiZuNR
DPP_OAUTH_REDIRECT_URI=http://127.0.0.1:8765/oauth/callback
DPP_WALLET_BASE_URL=http://127.0.0.1:3350
DPP_WALLET_ISSUER=https://127.0.0.1:3350/issuer
DPP_MERCHANT_BASE_URL=http://127.0.0.1:3340
DPP_DEFAULT_MERCHANT_ID=merchant:example_com
